includes:
	- vendor/phpstan/phpstan-mockery/extension.neon
	- vendor/phpstan/phpstan-phpunit/extension.neon
parameters:
	paths:
		- src
		- config
		- tests
	level: 6
	checkMissingIterableValueType: false
